.tab-container {
  display: flex;
  padding: 1rem;

  @media screen and (min-width: 0px) {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
    
  & input.tab-check {
    display: none;
  }

  & input:checked {
    + label {
      border-color:#1d8cf8;
      color: #1d8cf8;
      box-sizing: border-box;
    }
  }
}
.tab-item {
  border-radius: 30px;
  border: 1px solid transparent;
  display: inline-flex;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  cursor: pointer;
  flex: 0 0 auto;
  &::-webkit-scrollbar{
    @media screen and (min-width: 0px){
      display: none;
    }
  }
}

.btn {
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  width: 100%;
  border: none;
  background: none;  
}

.input-container {
  display: flex;
  border: 1px dashed #1d8cf8;
  border-radius: 30px;
}


.input {
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  color: white;
  vertical-align: middle;
  text-align: center;
  font-size: 1rem;
  &:focus {
    border: none;
    outline: none;
  }
}




.group-container {
  display: flex;
  padding-top: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  @media screen and (min-width: 0px){
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }
}

.group-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: .4rem;
  margin: 0 .3rem;
  border-radius: .3rem;
  background: #1f2251;
  width: 80%;
  height: 100%;
  margin-bottom: 30px;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
  @media screen and (min-width: 0px){
    &::-webkit-scrollbar { 
    display: none;
    }
  }
  @media screen and (min-width: 360px){
    max-width: 50%;
  }
  @media screen and (min-width: 576px){
    max-width: 40%;
  }
  @media screen and (min-width: 768px){
    max-width: 30%;
  }

  @media screen and (min-width: 1200px){
    max-width: 20%;
  }
  @media screen and (min-width: 1920px){
    max-width: 10%;
  }
}




.tasks-group {
  padding: 0;
  margin: 0;
}

.group-item-header {
  margin: 0;
  padding: .6rem .6rem;
  text-align: center;
  border-bottom: 1px solid #344675;
}

.task-group-item {
  list-style: none;
  padding: .6rem .6rem;
  border-bottom: 1px solid #344675;
}

.new-task-btn {
  background-image: linear-gradient(to bottom left,#344675,#263148,#344675);
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #344675;
  border-radius: .3rem;
  margin: .5rem auto;
  padding: .4rem;
}

.new-task-form {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #171941;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.new-task-input{ 
  width: 60%;
}