.tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.new-tab-btn {
  margin-left: auto;
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.category {
  max-width: 20%;
}

.categories {
  position: relative;
  align-items: center;
}

.add-new {
  width: 20%;
  height: 100%;
  position: relative;
  background: crimson;
  right: 0;
  padding: inherit;
}

body {
  background-image: url('../img/dots.bg.png');
  background-size: cover;
  color: #525f7f;
  text-align: left;
  background-color: #171941;
}