@import '../variables';


.scroll-container {
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  flex-wrap: nowrap;
  overflow-x: auto;
  display: flex;
}

.scroll-item {
  display: inline-flex;
  flex: none;
  &::-webkit-scrollbar {

    display: none;

  }
}

.nav-tabs-navigation {
  background: linear-gradient(#1e1e2f,#1e1e24);
  padding: 2rem;
  display: flex;
  align-items: center;
  @media (max-width: 991.98px) {
    padding: 1.5rem 1rem;
  }
}

.nav-arrow_backward {
  transform: rotate(180deg);
  padding: 0 .5rem;

}

.nav-arrow {
  padding: 0 1rem;
  @media (max-width: 991.98px) {
    display: none;
  }
}

.nav-tabs-container {
  @media (min-width: 992px) {
    width: 60%;
  }
}

.nav-tabs-item {

  input[type = radio] {
    display: none;
  }

  label {
    border: 1px solid transparent;
    border-radius: 30px;
    padding: .8rem 1rem;
    color: $light;
  }

  input:checked {
    + label {
      transition: all .5s ease 0s;
      border-color: $neutral;
      color: $neutral;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
  color: $neutral;
  &-round-circle {
    border-radius: 50%;
    margin: .2rem .3rem;
    padding: .25rem .1rem;
  }
  &-primary {
    background-color: $primary
  }
  &-accept {
    background-color: $green;
  }
  &:active {
    transform: scale(0.99);
  }

}
.invisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
  transition: visibility 10s ease;
}


.add-tab-btn {
  @media (max-width: 575.98px) {
    display: none;
  }
}

.btn-icon {
  margin: 0 .2rem;
}

.input-container {
  border: 1px solid $neutral;
  display: flex;
  align-items: center;
  &-round {
    border-radius: 30px;
  }
}

.input {
  border: none;
  background: transparent;
  color: $neutral;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding: 0 1rem;
  width: 7rem;
  &:focus {
    outline: none;
  }
  @media (min-width: 992px) {
    &:focus {
      width: 12rem;
      transition: width 1s ease;
    }
  }
}

.new-tab-input {
  @media (min-width: 992px) {
    position: absolute;
    left: 70%;
  }
}


.card-item {
  width: 100%;
}
.card {
  background: #1f2251;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: .8rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3 0;
}

.card-title {
  font-size: 1.5rem;
}