.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
}



body {
  background-image: url('../img/dots.bg.png');
  background-size: cover;
  color: #525f7f;
  text-align: left;
  background-color: #171941;
}