@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  background-image: url('./img/dots.bg.png');
  background-size: cover;
  color: #525f7f;
  text-align: left;
  background-color: #171941;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin: 0;
}